<form class="form-inline">
  <div class="form-group block-level">
    <input type="text" class="form-control" ng-model="host.host" placeholder="Hostname: 127.0.0.1">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="host.port" placeholder="Port: 8000">
  </div>
  <div class="form-group">
    <button class="btn btn-default btn-block" ng-click="host.save()">
      Add Host
    </button>
  </div>
</form>