<div class="list-group">
  <a class="list-group-item active" ng-repeat="host in host" ui-sref="_.hosts.detail({hostId:host.id})">
    <h4 class="list-group-item-heading">
      {{ host.hostname}}:{{host.port}}
    </h4>
    <p class="list-group-item-text">Status Check</p>
  </a>
</div>

<a class="list-group-item active" ng-show="!hosts.length" ui-sref="_.host.create">
  Add a host.
</a>

