<div class="list-group">
  <a class="list-group-item active" ng-repeat="host in hosts" ui-sref="_.hosts.detail({hostId:host.id})">
    <h4 class="list-group-item-heading">
      {{ host.host }}:{{ host.port }}
    </h4>
    <p class="list-group-item-text">Status Check</p>
  </a>
</div>

<a class="btn btn-default btn-block" ui-sref="_.hosts.create">
  Add a host.
</a>

